openapi: 3.0.3
info:
  description: Clickgres API extensions not available in upstream Ubicloud
  title: Clickgres API
  version: 0.1.0
  contact:
    url: 'https://www.clickhouse.com/'
    email: support@clickhouse.com
servers:
  - url: 'https://api.ubicloud.com'
paths:
  '/project/{project_id}/clickgres-billing/postgres-resources':
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: UBID of the project
    get:
      operationId: listClickgresBillingPostgresResources
      summary: List Clickgres billing resources for PostgreSQL databases
      parameters:
        - name: start_time
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Start of the time range (ISO 8601)
        - name: end_time
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: End of the time range (ISO 8601)
        - name: chc_org_id
          in: query
          required: false
          schema:
            type: string
          description: Filter by chc_org_id tag value
      responses:
        '200':
          $ref: '#/components/responses/ClickgresBillingPostgresResources'
        default:
          description: An error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    additionalProperties: false
                    properties:
                      code:
                        type: integer
                        example: 401
                      message:
                        type: string
                        example: 'There was an error logging in'
                      type:
                        type: string
                        example: InvalidCredentials
                      details:
                        type: object
                        nullable: true
                    required:
                      - code
                      - message
                      - type
                additionalProperties: false
                required:
                  - error
      tags:
        - Clickgres Billing
  '/project/{project_id}/clickgres-billing/postgres-details':
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: UBID of the project
    post:
      operationId: postClickgresBillingPostgresDetails
      summary: Get details of Postgres resources by IDs and/or org ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              anyOf:
                - required:
                    - ids
                - required:
                    - chc_org_id
              properties:
                ids:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items:
                    type: string
                  description: List of Postgres resource IDs (UBID or UUID)
                chc_org_id:
                  type: string
                  minLength: 1
                  description: Filter by chc_org_id tag value
      responses:
        '200':
          $ref: '#/components/responses/ClickgresPostgresDetails'
        default:
          description: An error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    additionalProperties: false
                    properties:
                      code:
                        type: integer
                        example: 400
                      message:
                        type: string
                        example: "At least one of 'ids' or 'chc_org_id' must be provided"
                      type:
                        type: string
                        example: InvalidRequest
                      details:
                        type: object
                        nullable: true
                    required:
                      - code
                      - message
                      - type
                additionalProperties: false
                required:
                  - error
      tags:
        - Clickgres Billing
  '/project/{project_id}/clickgres-billing/postgres/{ubid}/deactivate':
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: UBID of the project
      - name: ubid
        in: path
        required: true
        schema:
          type: string
        description: UBID of the Postgres resource to deactivate
    post:
      operationId: postClickgresBillingPostgresDeactivate
      summary: Trigger billing-driven deactivate (lockout + final backup + destroy)
      responses:
        '200':
          description: Deactivate accepted; returns current phase
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - ubid
                  - phase
                properties:
                  ubid:
                    type: string
                  phase:
                    type: string
                    enum:
                      - pending
                      - suspending
                      - backup_in_progress
                      - destroying
        default:
          description: An error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    additionalProperties: false
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: "Postgres resource not found"
                      type:
                        type: string
                        example: ResourceNotFound
                      details:
                        type: object
                        nullable: true
                    required:
                      - code
                      - message
                      - type
                additionalProperties: false
                required:
                  - error
      tags:
        - Clickgres Billing
  '/project/{project_id}/clickgres-billing/postgres/{ubid}/activate':
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: UBID of the project
      - name: ubid
        in: path
        required: true
        schema:
          type: string
        description: UBID of the Postgres resource to activate
    post:
      operationId: postClickgresBillingPostgresActivate
      summary: Revert a billing-driven deactivate (lift HBA lockout + reopen billing)
      responses:
        '200':
          description: Activate accepted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - ubid
                properties:
                  ubid:
                    type: string
        default:
          description: An error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    additionalProperties: false
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: "Postgres resource not found"
                      type:
                        type: string
                        example: ResourceNotFound
                      details:
                        type: object
                        nullable: true
                    required:
                      - code
                      - message
                      - type
                additionalProperties: false
                required:
                  - error
      tags:
        - Clickgres Billing
  /project/{project_id}/clickgres-testing/{pg_name_or_id}/inject-failure:
    parameters:
      - $ref: './openapi.yml#/components/parameters/project_id'
      - name: pg_name_or_id
        in: path
        required: true
        schema:
          type: string
        description: Name or UBID of the Postgres resource
    post:
      operationId: postClickgresTestingInjectFailure
      summary: Inject a failure into a running Postgres resource for testing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - failure_type
              properties:
                failure_type:
                  type: string
                  enum:
                    - os_shutdown
                    - pg_restart
                    - pg_service_stop
                  description: >
                    Type of failure to inject.
                    os_shutdown: graceful OS shutdown.
                    pg_restart: restart the Postgres process only.
                    pg_service_stop: stop the Postgres service (smart shutdown).
      responses:
        '204':
          description: Failure injected. Resource state will reflect the failure asynchronously.
        default:
          $ref: './openapi.yml#/components/responses/Error'
      tags:
        - Clickgres Testing
  /project/{project_id}/clickgres-testing/{pg_name_or_id}/convergence:
    parameters:
      - $ref: './openapi.yml#/components/parameters/project_id'
      - name: pg_name_or_id
        in: path
        required: true
        schema:
          type: string
        description: Name or UBID of the Postgres resource
    get:
      operationId: getClickgresTestingConvergence
      summary: Report whether a Postgres resource has fully converged to its target state
      responses:
        '200':
          description: Convergence status of the resource
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - converged
                  - reasons
                  - pending_semaphores
                properties:
                  converged:
                    type: boolean
                    description: True when the resource has reached and is sitting at its target state.
                  reasons:
                    type: array
                    description: Empty when converged=true; otherwise lists which checks failed.
                    items:
                      type: string
                      enum:
                        - needs_convergence
                        - servers_not_ready
                        - ongoing_failover
                        - pending_semaphores
                        - pending_upgrade_rollout
                  pending_semaphores:
                    type: array
                    description: >
                      Names of semaphores currently set on the resource or any of its
                      server strands (excluding the periodic `checkup` semaphore set by
                      the monitor). Populated when reasons includes pending_semaphores.
                    items:
                      type: string
        default:
          $ref: './openapi.yml#/components/responses/Error'
      tags:
        - Clickgres Testing
  /project/{project_id}/clickgres-testing/{pg_name_or_id}/upgrade-rhizome:
    parameters:
      - $ref: './openapi.yml#/components/parameters/project_id'
      - name: pg_name_or_id
        in: path
        required: true
        schema:
          type: string
        description: Name or UBID of the Postgres resource
    post:
      operationId: postClickgresTestingUpgradeRhizome
      summary: Roll the install_rhizome semaphore across a Postgres resource's servers
      description: >
        Rolls install_rhizome across the resource's servers (standbys first, then
        the primary, each converging before the next) via a background strand;
        poll the convergence endpoint to track it. Optionally limit to a `servers`
        UBID list. Used to test upgrading rhizome on pre-existing servers.
      requestBody:
        $ref: '#/components/requestBodies/ClickgresTestingUpgradeServers'
      responses:
        '200':
          $ref: '#/components/responses/ClickgresTestingUpgrade'
        default:
          $ref: './openapi.yml#/components/responses/Error'
      tags:
        - Clickgres Testing
  /project/{project_id}/clickgres-testing/{pg_name_or_id}/upgrade-telemetry:
    parameters:
      - $ref: './openapi.yml#/components/parameters/project_id'
      - name: pg_name_or_id
        in: path
        required: true
        schema:
          type: string
        description: Name or UBID of the Postgres resource
    post:
      operationId: postClickgresTestingUpgradeTelemetry
      summary: Roll the telemetry configuration semaphores across a Postgres resource's servers
      description: >
        Rolls configure_metrics and configure_logs across the resource's servers
        (standbys first, then the primary, each converging before the next) via a
        background strand; poll the convergence endpoint to track it. Optionally
        limit to a `servers` UBID list. Used to test upgrading telemetry on
        pre-existing servers.
      requestBody:
        $ref: '#/components/requestBodies/ClickgresTestingUpgradeServers'
      responses:
        '200':
          $ref: '#/components/responses/ClickgresTestingUpgrade'
        default:
          $ref: './openapi.yml#/components/responses/Error'
      tags:
        - Clickgres Testing
  /project/{project_id}/clickgres-testing/{pg_name_or_id}/rhizome-status:
    parameters:
      - $ref: './openapi.yml#/components/parameters/project_id'
      - name: pg_name_or_id
        in: path
        required: true
        schema:
          type: string
        description: Name or UBID of the Postgres resource
    get:
      operationId: getClickgresTestingRhizomeStatus
      summary: Report whether each server runs the control plane's current rhizome bundle
      description: >
        Compares the git commit recorded for each server (in rhizome_installation,
        written after the on-VM validate succeeds) against the control plane's
        current commit. Poll after upgrade-rhizome to confirm the new bundle was
        applied.
      responses:
        '200':
          $ref: '#/components/responses/ClickgresTestingRhizomeStatus'
        default:
          $ref: './openapi.yml#/components/responses/Error'
      tags:
        - Clickgres Testing
  /project/{project_id}/location/{location}/postgres/{postgres_database_reference}/wal-shadow:
    parameters:
      - $ref: './openapi.yml#/components/parameters/project_id'
      - $ref: './openapi.yml#/components/parameters/location'
      - $ref: './openapi.yml#/components/parameters/postgres_database_reference'
    post:
      operationId: createLocationPostgresWalShadow
      summary: Create a walshadow CDC for a PostgreSQL database
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ch_config:
                  description: Operator base ch-config.toml (TOML)
                  type: string
                boot_image:
                  description: Boot image (AMI id) for the walshadow VM
                  type: string
                git_ref:
                  description: walshadow git ref to build (branch, tag, or sha)
                  type: string
                vm_size:
                  description: VM size for the walshadow, defaults to a step down from the database's size
                  type: string
                storage_size_gib:
                  description: Boot volume size in GiB
                  type: integer
                data_on_boot_volume:
                  description: Keep shadow-data and spill (resume cursor) off instance store, so VM state survives instance-store loss
                  type: boolean
              additionalProperties: false
              required:
                - ch_config
                - boot_image
      responses:
        '200':
          $ref: '#/components/responses/WalShadow'
        default:
          $ref: './openapi.yml#/components/responses/Error'
      tags:
        - Postgres Walshadow
    get:
      operationId: getLocationPostgresWalShadow
      summary: Get the walshadow for a PostgreSQL database
      responses:
        '200':
          $ref: '#/components/responses/WalShadow'
        default:
          $ref: './openapi.yml#/components/responses/Error'
      tags:
        - Postgres Walshadow
    delete:
      operationId: deleteLocationPostgresWalShadow
      summary: Delete the walshadow for a PostgreSQL database
      responses:
        '204':
          $ref: './openapi.yml#/components/responses/Delete'
        default:
          $ref: './openapi.yml#/components/responses/Error'
      tags:
        - Postgres Walshadow
  /project/{project_id}/location/{location}/postgres/{postgres_database_reference}/wal-shadow/config:
    parameters:
      - $ref: './openapi.yml#/components/parameters/project_id'
      - $ref: './openapi.yml#/components/parameters/location'
      - $ref: './openapi.yml#/components/parameters/postgres_database_reference'
    get:
      operationId: getLocationPostgresWalShadowConfig
      summary: Get the walshadow API config fragment
      responses:
        '200':
          $ref: '#/components/responses/WalShadowConfig'
        default:
          $ref: './openapi.yml#/components/responses/Error'
      tags:
        - Postgres Walshadow
    patch:
      operationId: patchLocationPostgresWalShadowConfig
      summary: Deep-merge a fragment into the walshadow API config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  $ref: '#/components/schemas/WalShadowConfigData'
              additionalProperties: false
              required:
                - config
      responses:
        '200':
          $ref: '#/components/responses/WalShadowConfig'
        default:
          $ref: './openapi.yml#/components/responses/Error'
      tags:
        - Postgres Walshadow
    delete:
      operationId: deleteLocationPostgresWalShadowConfig
      summary: Unset keys from the walshadow API config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keys:
                  description: Dotted key paths to remove (e.g. stream.paused)
                  type: array
                  items:
                    type: string
              additionalProperties: false
              required:
                - keys
      responses:
        '200':
          $ref: '#/components/responses/WalShadowConfig'
        default:
          $ref: './openapi.yml#/components/responses/Error'
      tags:
        - Postgres Walshadow
  /project/{project_id}/location/{location}/postgres/{postgres_database_reference}/wal-shadow/status:
    parameters:
      - $ref: './openapi.yml#/components/parameters/project_id'
      - $ref: './openapi.yml#/components/parameters/location'
      - $ref: './openapi.yml#/components/parameters/postgres_database_reference'
    get:
      operationId: getLocationPostgresWalShadowStatus
      summary: Get the last cached walshadow status snapshot
      responses:
        '200':
          $ref: '#/components/responses/WalShadowStatus'
        default:
          $ref: './openapi.yml#/components/responses/Error'
      tags:
        - Postgres Walshadow
components:
  schemas:
    WalShadow:
      type: object
      properties:
        id:
          type: string
          pattern: ^pw[0-9a-hj-km-np-tv-z]{24}$
        postgres_id:
          type: string
          pattern: ^pg[0-9a-hj-km-np-tv-z]{24}$
        location:
          type: string
        state:
          type: string
        vm_size:
          type: string
        storage_size_gib:
          type: integer
        data_on_boot_volume:
          type: boolean
        created_at:
          type: string
        status:
          $ref: '#/components/schemas/WalShadowStatus'
        config:
          $ref: '#/components/schemas/WalShadowConfigData'
      additionalProperties: false
      required:
        - id
        - postgres_id
        - location
        - state
        - vm_size
        - storage_size_gib
        - data_on_boot_volume
        - created_at
    WalShadowConfigData:
      description: walshadow config fragment; TOML tables represented as nested objects
      type: object
      additionalProperties: true
    WalShadowStatus:
      type: object
      properties:
        paused:
          type: boolean
          nullable: true
        rows_synced:
          type: number
          nullable: true
        backfills_pending:
          type: number
          nullable: true
        lag_bytes:
          type: number
          nullable: true
        lag_seconds:
          type: number
          nullable: true
        uptime_secs:
          type: number
          nullable: true
        refreshed_at:
          type: string
          nullable: true
      additionalProperties: false
      required:
        - paused
        - rows_synced
        - backfills_pending
        - lag_bytes
        - lag_seconds
        - uptime_secs
        - refreshed_at
  responses:
    ClickgresTestingRhizomeStatus:
      description: Per-server rhizome installation status
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required:
              - folder
              - expected_commit
              - up_to_date
              - servers
            properties:
              folder:
                type: string
                description: Rhizome target folder these statuses refer to (always "postgres").
              expected_commit:
                type: string
                nullable: true
                description: The control plane's current git commit hash, that servers are compared against.
              up_to_date:
                type: boolean
                description: True when every server's recorded commit matches expected_commit.
              servers:
                type: array
                description: One entry per server in the resource.
                items:
                  type: object
                  additionalProperties: false
                  required:
                    - server
                    - representative
                    - commit
                    - installed_at
                    - up_to_date
                  properties:
                    server:
                      type: string
                      description: UBID of the server.
                    representative:
                      type: boolean
                      description: True for the primary (representative) server.
                    commit:
                      type: string
                      nullable: true
                      description: Git commit recorded at install, or null if rhizome was never installed.
                    installed_at:
                      type: string
                      nullable: true
                      description: When rhizome was last installed (ISO 8601), or null.
                    up_to_date:
                      type: boolean
                      description: True when this server's recorded commit matches expected_commit.
    ClickgresTestingUpgrade:
      description: Rolling upgrade started across the targeted servers
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required:
              - servers
              - semaphores_triggered
            properties:
              servers:
                type: array
                description: UBIDs of the targeted servers in rollout order (standbys first, then primary).
                items:
                  type: string
              semaphores_triggered:
                type: array
                description: Names of the semaphores rolled across the servers.
                items:
                  type: string
    ClickgresBillingPostgresResources:
      description: List of Clickgres billing resources
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              items:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  properties:
                    project_id:
                      type: string
                      description: UBID of the project
                      example: pjkkmx0f2vke4h36nk9cm8v8q0
                    resource_id:
                      type: string
                      description: UBID of the resource
                    resource_name:
                      type: string
                      description: Name of the resource
                    resource_tags:
                      description: Tags associated with the resource
                      type: object
                      additionalProperties: true
                  required:
                    - project_id
                    - resource_id
                    - resource_name
                    - resource_tags
            required:
              - items
    ClickgresPostgresDetails:
      description: List of Postgres resource details
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              items:
                type: array
                items:
                  $ref: './openapi.yml#/components/schemas/PostgresDatabase'
            required:
              - items
    WalShadow:
      description: A walshadow CDC
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WalShadow'
    WalShadowConfig:
      description: The walshadow API config fragment
      content:
        application/json:
          schema:
            type: object
            properties:
              config:
                $ref: '#/components/schemas/WalShadowConfigData'
            additionalProperties: false
            required:
              - config
    WalShadowStatus:
      description: The last cached walshadow status snapshot
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WalShadowStatus'
  requestBodies:
    ClickgresTestingUpgradeServers:
      required: false
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              servers:
                type: array
                description: >
                  UBIDs of the servers (within this resource) to upgrade. When
                  omitted or empty, all servers of the resource are targeted.
                items:
                  type: string
  securitySchemes:
    BearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
tags:
  - description: Clickgres Billing Operations
    name: Clickgres Billing
  - description: Clickgres Testing Operations
    name: Clickgres Testing
  - description: Postgres Walshadow CDC Operations
    name: Postgres Walshadow
security:
  - BearerAuth: []
